/* app css stylesheet */

*{
  font-family: 'Titillium Web', sans-serif;
}

body, html {
  margin: 0;
  background-color: #210b08 !important;
  color: #fff !important;
}

.header {
  display: flex;
  flex-direction: row;
  z-index: 100;
  flex-wrap: wrap;
  height: 50px;
  background-image: url("../img/Slices/nav_bar.png");
  position: fixed;
  width: 100%;
  top: 0;
}

.backImg {
  height: 24px;
  margin-top: 13px;
  margin-left: 28%;
}

.title {
  width: 45%;
}

.title h4 {
  margin-top: 16px;
  margin-left: 2%;
}

.name {
  text-align: left;
  margin-top: 3px;
  font-size: 11px;
  color: #a7a7a7;
}

li a {
  background-color: black !important;
  
}

.backButton {
  width: 12%;
  font-size: 20px;
  color: white;
}

.addMargin {
  margin-left: 76%;
}

.input {
  margin-left: 1%;
  margin-top: 14px;
  width: 40%;
}

.searchImg {
  height: 23px;
}

.searchImg:hover {
  cursor: pointer;
}

.text {
  width:80%;
}

input[type=text] {
  background: transparent;
  border: none;
  border-bottom: 1px solid #ffff;
  padding: 2px 5px;
  width:80%;
}

input:focus {
  background: transparent;
  border: none;
  border-bottom: 1px solid #ffff;
}

.section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 10px;
  margin-right: 0px;
  margin-top: 50px;
}

.fix {
  margin-top: 10px;
  width: 33.333%;
}

.fix img {
  width: 100%;
  padding-right: 10px;
}

.myDiv {
  height: 25px;
  background-color: #210b08;
}
/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
      -ms-flex: 50%;
      flex: 50%;
      max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
      -ms-flex: 100%;
      flex: 100%;
      max-width: 100%;
  }
}

@media screen and (max-width: 324px) {
  .title h4 {
    margin-top: 19px;
    margin-left: 2%;
    font-size: 14px;
  }

  .backImg {
    height: 20px;
    margin-top: 16px;
    margin-left: 28%;
  }

  .input {
    font-size: 10px;
    margin-left: 0%;
    margin-top: 14px;
    width: 39%;
  }

  .searchImg {
    height: 13px;
  }

}
