<nav class="navbar navbar-default navBar" >
        <div class="container-fluid">
            <div class="active search"><a href="#">
                <img src='img/Slices/search.png'>
              </a></div>
              <div class="input"><input type="text" ng-model="nameFilter" placeholder="Search..."></div>
   
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">
              <img src='img/Slices/Back.png'>
            </a></li>
            <li class="backButton">Romantic Comedy</li>
    
          </ul>
        </div>
      </nav>
  <div class="section">
    <div class ='fix' ng-repeat="driver in driversList | filter: searchFilter">
         <img ng-src="img/Slices/{{driver.posterImage}}" src='img/Slices/placeholder_for_missing_posters.png'>
         <div class = 'name'> {{driver.name}} </div>

    </div>
  </div> 
    <div class="myDiv" ng-if='inv' in-view="lineInView($index, $inview, $inviewInfo)" in-view-options="{ viewportOffset: offset }"></div>
    